# Default owners. Note that the Windows team is defunct
# but a useful collection of people with Windows experience
* @puppetlabs/windows @glennsarti

# Individual projects
automatic/pdk/          @puppetlabs/pdk
automatic/puppet-bolt/  @puppetlabs/bolt
